*{
    box-sizing: border-box;
    
    line-height: 24px;  
}

html{
    min-height: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: rgb(4, 28, 56);
    display: flex;
    text-align: center;
    
    
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    background-image: url(img/chion1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 37%;
    
    
    background-attachment: fixed;
}


nav{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 8%;
    padding-right: 2%;
    font-family: 'Questrial', sans-serif;
    font-size: 1.1em;
    /*border-bottom: 0.4px solid rgba(0, 0, 0, 0.24);*/
    color: rgb(0, 0, 0);
    background:   rgba(255, 255, 255, 0.644);
}

nav ul{
    
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    
}

.name{
    align-self: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 17px;
    padding-top: 7px;
    
}

.lname{
    padding: 3px 0 0 55px;
    display: block;
}

.name-link{
    text-decoration: none;
    font-size: larger;
    color: rgb(0, 0, 0)
}

.menu{
    display: flex;
    flex-direction: row;
    
}

.menu-item{
    align-self: center;
    margin: 0 6px 0 6px;
    font-size: 0.9em;  
}

.menu-item:hover{
    cursor: pointer;   
}

main{
    min-height: 100%;
    width: 100%;  
    
    
}



header, .content, section{
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: 20%;    
    background: none;  
    margin: auto;
 
}



.robpic{
    width: 100px;
    height: auto;
    margin: 0 auto 15px;
    border: rgb(176, 176, 177) 1px solid;
    border-radius: 3%;
    
}


.content{
    background: none;
    width: 87%;
    height: 100%;
    margin: 20% auto 15%; 
    border-radius: 4px;
    padding-top: 5%;
}

.intro-text{
    
    width: 93%;
    padding: 10px 0px;
    border-radius: 3px;
    
    font-size: 19px;
    color: rgb(241, 241, 241);
    
}

.wrap-work{
    background: rgba(255, 255, 255, 0.950);
    border: double 3px rgb(206, 172, 100);
    border-radius: 3px;
    color: rgb(0, 0, 0)
}

section{
    padding: 0 0 0 0;
    justify-content: space-around;
    margin: 3% 2%;
    border: solid 1px rgba(179, 179, 179, 0.459);
    
}

.thumb-cont{
    
    width: 90%;
    height: 130px;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    margin: 10% auto 0;
    border-radius: 2px;
    border: 0.5px dotted white;
    
}

.placeholder{
    border: 1px solid grey;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.description-cont{
    width: 93%;
    padding: 2%;
    margin: 1% auto 10%;
}

.description{
    margin-top: 2%;
}

.project-name{

    font-size: 20px; 

}

.repo{
    height: 20px;
    width: auto;
    margin-top: 3%;
    border: solid 1px white;
    background: grey;
}

.wrap-about{
    background: rgba(255, 255, 255, 0.950);
    border: double 3px rgb(59, 100, 177);
    
    color: black;
    border-radius: 3px;
    padding: 30px 16px;
}
.about-text{
    margin-bottom: 7%;
}

.wrap-contact{
    padding: 12% 0;
    background: rgba(255, 255, 255, 0.950);
    border: double 3px rgb(85, 131, 24);

    border-radius: 3px;
    

}

.email, .line-id, .linkedin{
    margin: 15% auto;
    
}

.contact-logo{
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin: 0 10px;
}

.mail-logo{
    width: 70px;
    height:40px;
}

footer{
    display: flex;
    justify-content: flex-start;
    padding-left: 6%;
    align-items: center;
    width: 100%;
    height: 36px;
    border-top: 0.4px solid rgba(102, 100, 100, 0.5);
    font-size: 14px;
    background: rgb(0, 0, 0);
    justify-self: flex-end;
}

.foot-item{
    margin: 0 5%;
    text-decoration: none;
    color: white;
}

.foot-logo{
    height: 24px;
    width: auto;
    vertical-align: middle;
    
}

@media screen and (min-width: 600px){ 
    
    nav{
        font-size: 1.4em;
        
    }

    .thumb-cont{
       
        
        height: 300px;
    }

    .email, .line-id, .linkedin{
        margin: 5% auto;
        
    }

    .wrap-contact{
        padding-top: 3%;
    }
    

}


@media screen and (min-width: 1200px){

    *{
        line-height: 30px;
    }

    html, body{
        font-size: 17px;
        
    }

   
    
/*
    
    nav{
        
        
        height: 100%;
        padding: 0;
        
    }

     

    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

    }
*/
    .name{
        position: absolute;
        
        left: 3%;
        font-size: 22px;
     }

     


    .menu-item{
        
        margin: 0% 3%;
    }

    main{
        height: 98%;
    }

    .main-section{
        padding: 0;
        
    }

    .content{
        padding-top: 7%;
        margin: 0 auto;
        width: 70%;
        background: none;
    }

    .intro-text{
        margin: 260px auto 0;
    }

    .thumb-cont{
        margin-top: 1%;
        width: 60%;
        
    }

    .description-cont{
        width: 93%;
        padding: 2%;
        margin: 1% auto 4%;
    }
    
    .wrap-about{
        width: 77%;
        padding: 30px 65px;
        margin: auto auto;
    }

    .about-text{
        margin-bottom: 3%;
    }

    .wrap-work{
        padding: 0;
    }

    .wrap-contact{
        
        margin: 0 auto;
        min-width: 25%;
        padding: 5%;
    }

    .email, .line-id, .linkedin{
        margin: 25% auto;
        
    }

   footer{
       padding-top: 7px;
       padding-bottom: 7px;
   }
    
}














