*{
    box-sizing: border-box;
    color: white;
    line-height: 24px;  
}

html, body{
    height: 100%;
    background-color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


nav{
    position: fixed;
    display: flex;
    width: 100%;
    height: 7%;
     
    font-family: 'Questrial', sans-serif;
    font-size: 1.1em;
}

nav ul{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    
}

.name{
    align-self: flex-start;
    text-align: left;
    padding: 3% 0 0 5%;
    text-decoration: none;
    
}

.lname{
    padding: 3px 0 0 45px;
    display: block;
}

.menu{
    margin: auto 10% auto 0;
    font-size: 1.3em;
}

.menu-item{
    display: none;
}

main{
    width: 100%;
    min-height: 100%;
}

header, .work, section{
    display: flex;
    flex-direction: column;
}

h3{
    display: block;
    margin: auto;
    color: rgb(107, 107, 107);
    font-size: 0.7em;
}

header{
    max-width: 100%;
    height: 30vh;
    background-color: black;
    background-image: url(hero-img.jpg);
    background-size: cover;
    background-position: center;
 
}

.work{
    background: none;
    width: 88%;
    margin: 31.7% auto 7%;
    border-radius: 4px;
}

section{
    padding: 2% 0 1% 0;
    justify-content: space-around;
    margin: 3% 2% 0% 2%;
}

.thumb-cont{
    
    width: 90%;
    height: 130px;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    margin: 18% auto 0;
    border-radius: 2px;
    border: 0.5px dotted white;
    
}

img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.description-cont{
    width: 93%;
    padding: 2%;
    margin: 1% auto 10%;
}

.description{
    margin-top: 2%;
}

footer{
    
    width: 100%;
    height: 130px;
    border-top: 0.4px solid rgba(250,250,250,0.5);
    
}


@media screen and (min-width: 600px){ 
    
    nav{
        font-size: 1.35em;
        
    }

    .thumb-cont{
       
        
        height: 300px;
    }
}


@media screen and (min-width: 1200px){

    *{
        line-height: 30px;
    }

    html, body{
        font-size: 17px;
    }

    nav{
        position: fixed;
        width: 20%;
        height: 100%;
        background: none;
    }

     

    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

    }

    .name{
        position: absolute;
        top: 4%;
        left: 12%;
     }

     .lname{
         display: block;

     }

    .menu{
        display: none;
    }

    .menu-item{
        display: block;
        margin: 14% auto;
    }

    .first{
        margin-top: 40%;
    }

    

    main{
        width: 100%;
        
    }


    .work{
        margin: 40% 0 0 22%;
        width: 75%;
        background: none;
    }

    .thumb-cont{
        margin-top: 1%;
        width: 60%;
        
    }

    footer{
        width: 80%;
        margin-left: 20%;
    }
}














